#calculator {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: space-between;
    width: 500px;
    height: 500px;
    border: 40px;
    border-style: solid;
}

.row {
    display: flex;
    flex: 1;
    justify-content: space-evenly;
}

.button {
    display:flex;
    width: 60px;
    height: 60px;
    justify-content: center;
    align-items: center;
}

.display {
    display: flex;
    width: 400px;
    height: 60px;
    background-color: #006400;
    justify-content: flex-end;
    align-items: center;
    border: 10px;
    font-size: 45px;
    padding: 5px;

}